MONGODB_URI="mongodb+srv://user_1:workforsoumya@cluster.xvohvuw.mongodb.net/EMS"
PORT=5000
CLOUDINARY_CLOUD_NAME='dijigf0ps'
CLOUDINARY_API_KEY='296119627955558'
CLOUDINARY_API_SECRET='1ANuj9bnKuXUf8NMGi-DSTicjBY'

